.error {
  color: red;
  font-size: x-small;
  font-style: italic;
}
.label-text {
  font-size: 14px;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.placeholder {
  opacity: 0.3;
  border: 2px solid;
}

.error {
  color: red;
  font-size: small;
  margin-top: -18px;
}

.label-text {
  font-size: 14px;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

label {
  font-size: 16px;
  font-weight: 400;
}

.form-border {
  border: 3px solid;
  border-radius: 0px;
}

input {
  border: 2px solid;
  border-radius: 0;
  height: 30px;
  margin-bottom: 15px;
}

.center-align {
  text-align: center;
}

.btn-text {
  background: dimgrey;
  color: #000000;
  border-radius: 0px;
  font-weight: 500;
  border: 5px solid;
  padding: 2px 15px;
  font-size: 16px;
}

.font-small {
  font-size: 13px !important;
}
.input-area {
  height: 23px;
}

@media only screen and (min-width: 1440px) {
  .form-width {
    width: 53%;
  }
}

@media only screen and (min-width: 1200px) {
  .form-width {
    width: 50.666667%;
    margin: 0% auto;
  }
}

@media only screen and (min-width: 992px) {
  .form-width {
    flex: 0 0 auto;
    width: 68.333333%;
    margin: 0% auto;
  }

  .col-lg-7 {
    width: 50.333333%;
  }
}

@media only screen and (max-width: 10242px) {
  .form-width {
    width: 71%;
    margin: 0% auto;
  }
}

@media only screen and (min-width: 768px) {
  .form-width {
    width: 65%;
    margin: 0% auto;
  }
}

@media only screen and (max-width: 765px) {
  .input-responsive {
    width: 200px;
    height: 28px;
  }
  .label-responsive {
    width: 120px;
  }
}

@media only screen and (max-width: 576px) {
  .col-sm-2 {
    width: 85.666667%;
  }
  .col-sm-8 {
    width: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .form-width {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 576px) {
  .form-width {
    width: 102%;
    margin: 0 auto;
  }

  .input-responsive {
    width: 163px;
    height: 25px;
  }
}
